<h1>You are not an authorized user for this picture!</h1>
<p><%= link_to "Sign In", new_session_path %> or <%= link_to "Sign Up" new_user_path %> to see more details!</p>
<%= link_to "Back to the homepage!", foodiepictures_path %>