// Place all the styles related to the foodiepictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-attachment: fixed;
 	background: url('wall2.jpeg');
 	background-repeat: repeat;
	background-size: contain;
 }

h3, p, h4 {
	color: pink;
}

ul {
	color: pink;
	width: 700px;
	padding-top: 2%;
 }

 .picli {
    padding: 10px;
	width: 200px;
	display: inline-block;
}

.newpic {
	font-family: 'Unkempt', cursive;
	color: pink;
	margin-top: 12%;
	margin-left: 13%;
	float: left;
}

h1 {
	font-family: 'Unkempt', cursive;
    color: pink;
    text-shadow: 1px 1px 1px black;
}

.singlepic {
	margin-top: 9%;
	margin-left: 9%;
	width: 500px;
}

.btn-pink {
	background-color: pink;
	color: white;
	opacity: 0.9;
	&:hover {
		background-color: lightpink;
	}
}

#userpic {
	width: 20px;
}

.container{
    margin-top:20px;
}

.commentli {
	padding: 8px;
	width: 207px;
	color: grey;
	background-color: lightblue;
    border-radius: 8px;
    opacity: 0.9;
    margin: 0.5%;
}
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.comment_comment {
	background-color: white;
	border-radius: 9px;
	border-color: lightpink;
	padding: 6px;
}

#comment_comment {
	background-color: white;
	border-radius: 9px;
	border-color: lightblue;
	padding: 6px;
	margin-left: 8%;
}

input {
	border-radius: 5px;
	background-color: lightblue;
	border-color: lightblue;
	color: white;
	padding: 5px;
}

input#comment_comment.btn-pink {
	margin-left: 10%;
}

.pic_upload {
	border-color: pink;
	background-color: lightpink;
	border-radius: 6px;
	color: white;
	padding: 7px;
	width: 180px;
}

input#foodiepicture_image.pic_upload.btn-block {
	width:180px;
	margin-left: -48%;
}

input#foodiepicture_description.form-control.comment_comment.btn-block {
	width: 180px;
	margin-left: -45%;
}

