// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.info {
	position: fixed;
 	font-color: white;
 	right: 11%;
 	top: 68% ;
}

.userpic {
    width: 400px;	
}

.btn-pink {
	color: white;
	&:hover {
		background-color: lightpink;
	}
}

.user-rank {
	font-family: 'Unkempt', cursive;
	font-size: 36px;
	text-shadow: 1px 1px 1px black;
	float: left;
	margin: 4%;
}

.rankli {
	font-family: 'Unkempt', cursive;
	font-size: 32px;
	color: hotpink;
	text-shadow: 1px 1px 1px black;
	float: left;
}